    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    body{
        background-color: rgba(121, 121, 124, 0.521);
    }

    header{
        background-image: url(../img/envio-todo-pais.png);
        background-size: contain;
        width: 100%;
        height: 100px;
        
    }
   main > .datos{
        width: 100%;
        height: auto;
        background-color: rgb(45, 103, 211);

    }

    h1{
        color: blue;
        font-family: Arial, Helvetica, sans-serif;
        font-size: xx-large;
    }